{% extends 'AdminAdminBundle::layout.html.twig' %}
{% form_theme form 'AdminAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Добавление поля</h1>
    <div class="clearfix"><br></div>

    {% if form %}
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    {% endif %}

    <div class="clearfix"><br></div>
    <a class="btn btn-default" href="{{ path('admin_admin_editcategoriespage', {'id':id}) }}" title="Назад"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>

{% endblock %}