<html style="background:#ffe0be;">
<table style="border-collapse:collapse;width:502px;" align="center" border="0" cellpadding="0" cellspacing="0" width="752">
  <tbody>
    <tr>
      <td>
        <div style="width:500px;border-radius:5px;border:1px solid #cecece;">
          <table style="border-collapse:collapse;width:500px;border-radius:5px 5px 0 0;background:#ffffff;" align="center" border="0" cellpadding="0" cellspacing="0" width="750">
            <tbody>
              <tr>
                <td style="vertical-align:top;" align="center" valign="top">
                  <div style="line-height:14px;height:28px;">&nbsp;<br>
                    &nbsp;</div> 
                    <a href="{{ url('site_first_page_homepage') }}" target="_blank">
                      <img src="{{ url('site_first_page_homepage') }}/images/logo.png" alt="Перейти на сайт" title="Перейти на сайт">
                    </a>
                  <div style="line-height:12px;height:24px;">&nbsp;<br>
                    &nbsp;</div>
                  </td>
              </tr>
            </tbody>
          </table>
          <table style="border-collapse:collapse;width:500px;border-radius:0;background:#fffce2;" align="center" border="0" cellpadding="0" cellspacing="0" width="750">
            <tbody>
              <tr>
                <td style="vertical-align:top;" align="center" valign="top">
                  <div style="line-height:14px;height:28px;">&nbsp;<br>
                    &nbsp;</div>                  
                  <div>
                    <font color="#222222" face="Arial" size="3">
                      <p style="font-size:16px;font-family:Arial,Tahoma,Verdana,sans-serif;color:#222222 !important;line-height:22px;text-align:center;margin:0;"
                         align="center">Здравствуйте!<br>
                          Вы запросили сброс пароля<br>
                      </p>   
                    </font>
                  </div>
                  <div style="line-height:14px;height:28px;">&nbsp;<br>
                    &nbsp;</div>
                  </td>
              </tr>
            </tbody>
          </table>
          <table style="border-collapse:collapse;width:500px;background:#fff;" align="center" border="0" cellpadding="0" cellspacing="0" width="750">
            <tbody>
              <tr>
                <td style="vertical-align:top;padding:20px;" align="center" valign="top">                                   
                  <div style="line-height:16px;height:16px;">&nbsp;</div>
                  <div>
                    <font color="#222222" face="Arial" size="3">
                        <p style="font-size:18px;font-family:Arial,Tahoma,Verdana,sans-serif;color:#222222 !important;line-height:22px;text-align:center;margin:0;"
                           align="center">Перейдите по ссылке</p><p><a style="color:#FFFFFF;text-decoration:none;background:#0275d8;border:1px solid #0057A2;padding:5px 15px;border-radius:6px;" href="{{ confirmationUrl }}">СБРОС ПАРОЛЯ</a></p><p> для сброса пароля</p>
                    </font>
                  </div>
                  <div style="line-height:16px;height:16px;">&nbsp;</div>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="border-collapse:collapse;width:500px;border-radius:0 0 5px 5px;background:#fffce2;" align="center" border="0" cellpadding="0" cellspacing="0" width="750">
            <tbody>
              <tr>
                <td style="vertical-align:top;" align="center" valign="top">
                  <div style="line-height:16px;height:16px;">&nbsp;</div>                 
                  <div>
                    <font color="#333" face="Arial" size="3"><br>
                      <p style="font-size:12px;font-family:Arial,Tahoma,Verdana,sans-serif;color:#333 !important;line-height:22px;text-align:center;margin:0;" align="center">                        
                        <b>Пожалуйста, не отвечайте на это письмо!</b>
                      </p>                      
                    </font>
                  </div>
                  <div style="line-height:16px;height:16px;">&nbsp;</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</html>